*{  max-width: 500px;
    font-size: 16px;
    padding: 0;
    margin: 0;}
    
    
    
    body{
       
        background-image: url('../img/wood.webp' )  ;
        background-size:contain;  
        
    }   
   
    nav{
         
        max-width: 300px;
        background-color:none;
        padding: 16px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 30px;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
        font-size: 8px;
        text-align:center;
        position: fixed;
        
    }

nav ul li { 
      display: inline-block;
      align-items:center;
      margin: 0;
     
      
}

nav ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12px;
    text-decoration: none;/*Disable the underline */
    color: rgb(228, 221, 211);
    display: inline-block;
    padding: 6px 10px;
    margin: 0;
    
}
nav>ul>li>a{
    border: tomato;
    
}
nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
background-color: maroon;
}
.my-name{
    font-family: 'Lucida Sans';
    font-size:14px;
    color: antiquewhite;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    text-align: center;
    }
    .me{ 
        
    border-radius: 100px;
        
    }
    .me {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100px;
        height: 100px;
      }

      .objective> p{
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size:12px;
          color: rgb(1, 1, 14);
          text-align: center;
          padding-top: 4px;
      }
#navigation{
       
       margin: 16px;
       margin-top: 25px;
       margin-bottom: 25px;
       border: rgb(83, 34, 5) solid;
       max-height: 250px;
   } 
   #title{
    
    margin: 2px;
    border: rgb(71, 32, 6) solid;
    
} 
#objective{
    
    margin: 2px;
    border: brown solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  
} 
#education{
    
    margin: 2px;
    border: brown solid;
    
} 
#work-experience{
   
    margin: 2px;
    border: brown solid;
    
} 
#contact-info{
    
    margin: 2px;
    border: brown solid;
    
} 
#footer{
    
    margin: 2px; 

 border:solid brown;

 
}
    

  #css-grid{
    
    display: grid;
    grid-template-columns : 50% 50%;
    grid-template-rows : 25% auto auto auto auto auto   ;
    grid-template-areas:"navigation navigation" "title title" "objective objective" "education education" "work-experience work-experience" "contact-info footer";
    max-height: unset;
    /* overflow: scroll; */
}


#navigation{ grid-area: navigation;}
#title{ grid-area: title;}
#objective{ grid-area:objective;}
#education{ grid-area:education;}
#work-experience{ grid-area:work-experience;}
#contact-info{ grid-area:contact-info;}
#contact{ grid-area:contact;}
#footer{ grid-area:footer;}





